.Tree {
  .header {
    background-color: #5242e8dd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 600px;
    height: 100px;
    color: white;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainHeader {
      font-size: 50px;
    }

    .resetButton {
      background-color: transparent;
      backdrop-filter: brightness(1.5);
      border-radius: 5px;
      padding: 5px 10px;
      border: none;
      font-size: 24px;
      font-family: "Nunito", sans-serif;
      cursor: pointer;
      margin-left: 20px;
      transition: 0.2s all;
      user-select: none;

      &.inactive {
        opacity: 0.5;
        pointer-events: none;
      }

      &:hover {
        backdrop-filter: brightness(1.7);
      }

      &:active {
        scale: 0.95;
      }
    }
  }

  .body {
    background-color: #5242e8aa;
    color: white;
    min-height: 500px;
    width: 1600px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 1650px) {
  .Tree {
    .body {
      width: 1200px;
    }
  }
}

@media (max-width: 1250px) {
  .Tree {
    .header {
      width: 400px;
      height: 80px;

      .mainHeader {
        font-size: 30px;
      }
      .resetButton {
        font-size: 16px;
      }
    }

    .body {
      width: 800px;
    }
  }
}

@media (max-width: 800px) {
  .Tree {
    width: 100%;

    .header {
      width: 300px;
      height: 60px;

      .mainHeader {
        font-size: 24px;
      }
      .resetButton {
        font-size: 12px;
      }
    }

    .body {
      width: 100%;
    }
  }
}
